# CONFIGURATION FILE (Make sure you change these variables before running)

# Address and port of your Node.JS server
SERVER = ('192.168.0.10:7080')

# Authorization key for server 
AUTHKEY = "replace-this-text-and-put-your-authkey-here" 

# Modify default save location
# SAVE_PATH = "put your save path here... eg -> C:/Users/example/SSL-Certs/"

# List of files to grab (make sure you enter the directory relative to "certroot" in Node.JS server config)
FILES = [
    "/ssl.crt/lost.crt",
    "/ssl.key/lost.key"
]
